dist: xenial
sudo: required

language: cpp

os:
- linux
- osx

compiler:
- gcc
- clang

env:
- BUILD_CONFIGURATION=Debug
- BUILD_CONFIGURATION=Release

matrix:
  exclude:
  - os:       osx
    compiler: gcc

install:
- source ci/travis/install_$TRAVIS_OS_NAME.sh

script:
- mkdir build
- cd build
- cmake .. -DCMAKE_BUILD_TYPE=$BUILD_CONFIGURATION
- cmake --build .